* {
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
}
.container {
  margin: auto;
}
.spinner {
  position: relative;
}
.spinner-text {
  display: block;
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation: blinking 2s infinite linear;
}
.rect {
  width: 10px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  animation: moving 2s alternate infinite, blinking 2s infinite;
  position: absolute;
}
@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
