* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}
h1 {
  color: white;
  background-image: linear-gradient(60deg, red, orange);
  text-align: center;
  padding: 0.67em 0;
  margin: 0;
}
img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
  margin-top: auto;
}
.navigation {
  flex: 20vw;
  padding: 0.5em;
}
.news {
  padding: 0.5em;
  flex: 20vw;
}
.section {
  padding: 0.5em;
  font-size: 1.25em;
  flex: 80vw;
}
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.nav-list {
  padding: 0;
  list-style: none;
}
.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  padding: 0 0.5em;
}
.nav-list-link {
  text-decoration: none;
  color: white;
}
.wrapper {
  flex: 80vw;
}

@media screen and (min-width: 600px) {
  .wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    display: flex;
  }

  .section {
    flex: 60vw;
  }
}
